<!doctype html>
<html lang="en">

<style>

</style>


<div th:replace="fragments/header :: header"></div>

<div class="d-flex">
    <div th:replace="fragments/sliderbar :: sliderbar"></div>
    <div style="width: 100%;">
        <input hidden id="page" th:value="${listPos.pageable.pageNumber}">
        <input hidden id="totalPage" th:value="${listPos.totalPages}">
        <input hidden name="pageSize" id="pageSize" th:value="${listPos.pageable.pageSize}">

        <!--        viet code o day-->

        <div class="container-fluid">

            <div class="col-lg-12">
                <div class="row">

                    <!-- Table Panel -->
                    <div class="col-md-12">
                        <div class="card" style="max-height: calc(100vh - 70px); overflow: scroll">
                            <div class="card-header">
                                <b>Supplier List</b>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center" style="width: 50%;">Thông tin đơn hàng</th>
                                        <th class="text-center" style="width: 15%;">Tổng tiền</th>
                                        <th class="text-center" style="width: 15%;">Ngày tạo</th>
                                        <th class="text-center" style="width: 15%;">Người tạo</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="pos,index : ${listPos.content}">
                                        <td class="text-center" th:text="${index.index +1 }"></td>
                                        <td class="">
                                            <div th:each="posProduct,index1 : ${pos.posProductList}">
                                                <p>Tên sản phẩm: <b th:text="${posProduct.product.productName}"></b></p>
                                                <p><small>Mã sản phẩm: <b
                                                        th:text="${posProduct.product.productCode}"></b></small></p>
                                                <p><small>Giá: <b
                                                        th:text="${posProduct.product.productPrice}"></b></small></p>
                                                <hr>
                                            </div>

                                        </td>
                                        <td class="text-center" th:text="${pos.totalPrice}"></td>
                                        <td class="text-center" th:text="${pos.createdDate}"></td>
                                        <td class="text-center" th:text="${pos.createdBy}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="table-footer"
                                     style="margin-top: 16px ;display: flex; justify-content: space-between">


                                    <div style="align-self: center; display:flex;">Tổng sổ <p style="padding: 0 5px" th:text="${listPos.totalElements}"></p>
                                        bản
                                        ghi
                                    </div>

                                    <div class="pagination-action" style="height: 30px">
                                        <nav id="pagination__">
                                        </nav>
                                    </div>
                                    <div class="size-action" style="display:flex;">
                                        <label style="align-self: center; margin-right: 10px; margin-bottom: 0">Hiển
                                            thị:</label>
                                        <select style="align-self: center" class="select2 form-control form-control-sm"
                                                id="rowPerPage" th:field="*{listPos.pageable.pageSize}"
                                                name="rowPerPage" th:onchange="'triggerSubmit(this)'";>
                                            <option th:value="5"> 5 </option>
                                            <option th:value="10">10</option>
                                            <option th:value="20">20</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>


<div th:replace="fragments/footer :: footer"></div>


<script>
    $(document).ready(function () {
        $("#order-manager").addClass("active");

        $("#pagination__").append(Pagination({
            totalPage: parseInt($("#totalPage").val()) ,
            page: parseInt($("#page").val()),

        }))
    });

    function jumpToPage(page) {
        $('#page').val(page);
        submitPage();
    }

    function triggerSubmit(e) {
        $('#page').val(1);
        $('#pageSize').val(e.value);
        submitPage();
    }


    function submitPage() {
        let url = "/order-manager?size=" + $('#pageSize').val() + "&page=" + $('#page').val();
        window.location.href = url;
    }
</script>
</html>